//各类中英文常量

//head header
- var page_title = "深圳普智 | 管理台"

//footer 版权
- var copy_right_cn = "版权所有2016@深圳铺智传媒科技有限公司."
- var copy_right_en = "Copyright © 2016"
- var copy_right_reserved = "All rights reserved."

//侧边栏
- var sys_management = "系统管理"
- var syn_management = "集团管理"
- var media_management = "媒体管理"
- var personnel_management = "人员管理"
- var admin_management = "超级管理员管理"
- var spr_mgr_management = "超级运营员管理"
- var users_online_list = "用户登陆系统状态查看"
- var article_management = "文章管理"
- var article_detail = "文章详情"
- var article_list = "文章列表"
- var media_management = "媒体管理"
- var new_add_list = "新增用户查看"
- var media_list = "媒体审计"

//个人设置
- var personal_setting = "个人设置"
- var logout = "退出"

//其他
- var searching = "搜索..."
- var loading = "加载中..."

block variables