header.main-header
  a.logo(href='admin_index.html')
    span.logo-mini
      b 普
      | 智
    span.logo-lg
      b 深圳
      | 普智
  nav.navbar.navbar-static-top(role='navigation')
    a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
      span.sr-only Toggle navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        li
          a#logout(href='#',title="退出")
            i.fa.fa-sign-out