// Main Footer
footer.main-footer
  // To the right
  .pull-right.hidden-xs
    | #{copy_right_cn}
  // Default to the left
  strong
    | #{copy_right_en}
    a(href='#') PZZH
    | .
  |  #{copy_right_reserved}