/**
 * create by lxt
 * 2016/07/26
 * 样式变量名
 */

$dark:					#000 !default;

$gray-darker:           #444 !default;

$gray-light:            #999 !default;

$gray-lighter:          #f4f4f4 !default;

$white-dark:			#fafafa !default;

$blue-base:				#3e4957 !default;

$blue-light:			#2c97de !default;

$blue-light2:			#3a99d8 !default;

$blue-light3:			#79B7E0 !default;

$blue-dark:				#2489cc !default;

$red-light:             #e9573f !default;

$imgDir:				'/img';

$border-color-base:     #dedede !default;

$border-color-light:    #eee !default;