@import 'var';
@import '../mixins/flex';
@import '../mixins/trans';
.advices-analy-spread{
	.head{
		height: 110px;
		line-height: 120px;
		text-align: center;
		font-size: 28px;
	}
	.search-part{
		height: 76px;
		background-color: #fafafa;
		border-top: 1px #eee solid;
		border-bottom: 1px #eee solid;
		padding-top: 20px;
		.wrap{
			width: 654px;
			margin-left: auto;
			margin-right: auto;
		}
		.sch-wrap{
			border: 1px #7aa3c1 solid;
			display: table;
			background-color: #fff;
			border-radius: 3px;
			width: 100%;
			.sch-l,.sch-r{
				display: table-cell;
				width: 1%;
				vertical-align: middle;
				line-height: 1;
			}
			.sch-l{
				.ico{
					padding: 6px 12px;
					position: relative;
					.iconfont{
						font-size: 22px;
						color: #969696;
					}
					&:after{
						content: "";
						background-color: #969696;
						position: absolute;
						top: 5px;
						bottom: 5px;
						right: 0;
						width: 1px;
					}
				}
			}
			.sch-r{
				background-color: #2abcb9;
				font-size: 16px;
				color: #fff;
				width: 74px;
				text-align: center;
				cursor: pointer;
				-webkit-user-select: none;
				user-select: none;
				&:active{
					background-color: darken(#2abcb9, 5%);
				}
			}
			input{
				display: table-cell;
				width: 100%;
				float: left;
				vertical-align: middle;
				line-height: 36px;
				text-indent: 5px;
				font-size: 16px;
				border: none;
			}
		}
	}
	.list-part{
		// margin-top: 90px;
		// border-top: 1px #eee solid;
		.con{
			padding: 0 13px;
			&>.hd{
				border-bottom: 1px #dcdcdc solid;
				.l{
					font-size: 14px;
					line-height: 60px;
					float: left;
					.count{
						padding-left: 2em;
					}
				}
				.r{
					float: right;
					line-height: 60px;
					.c-dropdown{
						line-height: 1.5;
						.txt{
							width: 84%;
						}
						.ic{
							width: 16%;
							.iconfont{
								font-size: 22px;
							}
						}
					}
				}
			}
			&>.bd{
				.list-wrap{
					margin-right: -10px;
					padding-top: 24px;
					.item{
						border: 1px #dcdcdc solid;
						margin-right: 10px;
						margin-bottom: 27px;
						float: left;
						width: calc(50% - 10px);
						height: 148px;
						@include flexbox();
						@include directionVertical();
						.hd{
							height: 38px;
							line-height: 38px;
							border-bottom: 1px #dcdcdc solid;
							font-size: 14px;
							padding: 0 18px;
							.title{
								display: inline-block;
								vertical-align: middle;
								width: 60%;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								a{
									color: #212121;
									text-decoration: none;
									// &:hover{
									// 	text-decoration: underline;
									// }
								}
							}
							.status{
								color: #57b6eb;
								text-decoration: underline;
								cursor: pointer;
								float: right;
							}
						}
						.bd{
							padding: .4em 1.5em;
							@include flex();
							.desc{
								font-size: 12px;
								color: #989898;
								line-height: 2;
								text-indent: 2em;
							}
						}
						.ft{
							font-size: 12px;
							color: #989898;
							padding: 2px 1.5em;
						}
					}
				}
			}
		}
	}
	.res-blank{
		width: 654px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 18px;
		p{
			font-size: 14px;
			line-height: 1.8;
			&.green{
				color: #2abcb9;
			}
		}
		.btn-wrap{
			margin-top: 15px;
			padding-top: 20px;
			border-top: 1px #dcdcdc solid;
		}
	}
	.pagin-part{
		// border-top: 1px #dcdcdc solid;
		// padding-top: 24px;
		text-align: center;
	}
}
.advices-analy-spread-detail{
	max-width: 1096px;
	// min-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	// background-color: #eeeded;
	overflow: hidden;
	&.loading{
		-webkit-filter: blur(20px);
		filter: blur(20px);
	}
	&>.hd{
		height: 48px;
		line-height: 40px;
		border-top: 8px #1a9ead solid;
		background-color: #F6F6F6;
		margin-bottom: 20px;
		color: #999;
		.tit{
			padding-left: 20px;
			font-size: 14px;
		}
	}
	&>.bd{
		// margin-top: 30px;
		.spread-chart-container{
			@include flexbox();
			@include directionVertical();
			.hd{
				background: #1b9eae url(#{$imgDir}/spread-hd.png) left center no-repeat;
				height: 35px;
				line-height: 35px;
				padding-left: 37px;
				.tit{
					font-size: 14px;
					color: #fff;
					font-family: arial;
				}
			}
			.bd{
				background-color: #f5f5f5;
				@include flex();
				@include flexbox();
				@include directionVertical();
				.chart{
					@include flex();
				}
			}
		}
		.spread-data-container{
			height: 270px;
			background: #f6f6f6 url(#{$imgDir}/spread-data-bg.png) left top no-repeat;
			background-size: contain;
			.key{
				font-size: 28px;
				color: #fff;
				text-align: center;
				line-height: 100px;
			}
			.val{
				display: table-cell;
				width: 10000px;
				height: 185px;
				color: #27303b;
				vertical-align: middle;
				text-align: center;
				font-size: 38px;
				font-family: sans-serif;
			}
		}
		.data-part{
			margin-left: -20px;
			margin-right: -20px;
			@include flexbox;
			.item{
				padding-left: 20px;
				padding-right: 20px;
				@include flex(1);
			}
		}
		.grid2{
			overflow: hidden;
			.item-l{
				width: 673px;
				float: left;
			}
			.item-r{
				overflow: hidden;
				padding-left: 32px;
			}
		}
	}
	.d3tip{
		position: absolute;
		display: none;
		background-color: rgba(0,0,0,.8);
		border-radius: 5px;
		padding: 5px 10px;
		color: #fff;
	}
	.d3legend{
		-webkit-user-select: none;
		user-select: none;
		float: left;
		padding-left: 20px;
		.item{
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			cursor: pointer;
		}
		[type="checkbox"]{
			display: none;
			&+span{
				display: inline-block;
				width: 28px;
				height: 15px;
				border-radius: 5px;
				vertical-align: middle;
				margin-right: 5px;
				overflow: hidden;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: #ccc;
				}
			}
			&~.txt{
				color: #ccc;
			}
			&:checked{
				&+span{
					&:after{
						content: "";
						display: none;
					}	
				}
				&~.txt{
					color: #000;
				}
			}
		}
		.txt{
			vertical-align: middle;
			font-size: 12px;
		}
	}
	.d3select{
		float: right;
		padding-left: 10px;
		padding-right: 10px;
		select{
			font-size: 16px;
		}
	}
}

.advices-analy-spread-detail-load{
	position: fixed;
	left: 231px;
	top: 60px;
	bottom: 0;
	right: 0;
	.wrapper{
		position: fixed;
		left: calc(50% + 155px);
		top: 50%;
		margin-top: -85px;
		margin-left: -261px;
		width: 522px;
		height: 170px;
		border-radius: 25px;
		padding-top: 45px;
		padding-bottom: 45px;
		padding-left: 69px;
		padding-right: 60px;
		background: rgba(255,255,255,.73);
		box-shadow: 0 0 50px rgba(255,255,255,.7) inset;
		font-family: sans-serif;
		@include flexbox();
		@include alignCenter();
		.l{
			width: 95px;
			height: 73px;
			background: url(#{$imgDir}/spread-mask-icon.png) 0 0 no-repeat;
			color: #fff;
			line-height: 75px;
			margin-right: 13px;
			text-align: center;
			padding-right: 22px;
		}
		.r{
			@include flex();
			.tit{
				color: #35b2db;
				font-size: 18px;
				line-height: 2;
			}
			.state{
				color: #515453;
				font-size: 14px;
				line-height: 1.4;
			}
			.bar{
				margin-top: 9px;
				overflow: hidden;
				height: 11px;
				background-color: #f5f5f5;
				// -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
				// box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
				.inner{
					float: left;
					height: 100%;
					font-size: 12px;
					line-height: 20px;
					color: #ffffff;
					text-align: center;
					background-color: #38b0db;
					-webkit-transition: width 0.6s ease;
					-o-transition: width 0.6s ease;
					transition: width 0.6s ease;
					background-image: -webkit-linear-gradient(56deg, rgba(255, 255, 255, 0.15) 10%, transparent 10%, transparent 20%, rgba(255,255,255,.15) 20%, rgba(255,255,255,.15) 30%, transparent 30%, transparent 40%, rgba(255,255,255,.15) 40%, rgba(255,255,255,.15) 50%, transparent 50%, transparent 60%, rgba(255,255,255,.15) 60%, rgba(255,255,255,.15) 70%, transparent 70%, transparent 80%, rgba(255,255,255,.15) 80%, rgba(255,255,255,.15) 90%, transparent 90%, transparent);
					background-image: -o-linear-gradient(56deg, rgba(255, 255, 255, 0.15) 10%, transparent 10%, transparent 20%, rgba(255,255,255,.15) 20%, rgba(255,255,255,.15) 30%, transparent 30%, transparent 40%, rgba(255,255,255,.15) 40%, rgba(255,255,255,.15) 50%, transparent 50%, transparent 60%, rgba(255,255,255,.15) 60%, rgba(255,255,255,.15) 70%, transparent 70%, transparent 80%, rgba(255,255,255,.15) 80%, rgba(255,255,255,.15) 90%, transparent 90%, transparent);
					background-image: linear-gradient(56deg, rgba(255, 255, 255, 0.15) 10%, transparent 10%, transparent 20%, rgba(255,255,255,.15) 20%, rgba(255,255,255,.15) 30%, transparent 30%, transparent 40%, rgba(255,255,255,.15) 40%, rgba(255,255,255,.15) 50%, transparent 50%, transparent 60%, rgba(255,255,255,.15) 60%, rgba(255,255,255,.15) 70%, transparent 70%, transparent 80%, rgba(255,255,255,.15) 80%, rgba(255,255,255,.15) 90%, transparent 90%, transparent);
					-webkit-background-size: 75px 75px;
					background-size: 75px 75px;
					&.active{
						-webkit-animation: progress-bar-stripes 2s linear infinite;
						-o-animation: progress-bar-stripes 2s linear infinite;
						animation: progress-bar-stripes 2s linear infinite;
					}
				}
			}
		}
	}
	&.tip{
		.wrapper{
			.l{
				background: url(#{$imgDir}/spread-mask-tip.png) 0 0 no-repeat;
			}
			.r{
				.tit{
					color: #fabd02;
				}
				.state{
					a{
						color: #0086d3;
					}
				}
			}
		}
	}
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}