@import '../mixins/flex';
@import '../mixins/trans';
.advices-base{
	.fresh-bar{
		line-height: 28px;
		display: inline-block;
		color: #323f4d;
		font-size: 12px;
		background-color: #EAE9E8;
		margin: -10px -1px -1px;
		height: 30px;
		position: relative;
		z-index: 1;
		margin-right: 10px;
		.btn{
			cursor: pointer;
			margin-left: 10px;
			display: inline-block;
			background-color: #fff;
			border: 1px #dedede solid;
			width: 90px;
			text-align: center;
			height: 100%;
			border-radius: 2px;
			&.active{
				color: red;
				.refresh{
					-webkit-animation: spin 1s linear infinite;
					animation: spin 1s linear infinite;
					color: red;
				}
			}
			.refresh{
				vertical-align: middle;
				display: inline-block;
				@include transform-origin(54%, 47%);
			}
		}
	}
	.ab-event-hd{
		margin-bottom: 16px;
		.title{
			height: 57px;
			line-height: 57px;
			border-bottom: 1px #dedede solid;
			padding: 0 10px;
			font-size: 14px;
			color: #2a2a2a;
			.text{
				max-width: 20em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				display: inline-block;
				vertical-align: bottom;
			}
			.desc{
				font-size: 12px;
				color: #8c8c8c;
				max-width: 40em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				display: inline-block;
				vertical-align: bottom;
			}
		}
		.info{
			height: 30px;
			line-height: 30px;
			border-bottom: 1px #dedede solid;
			padding: 0 10px;
			font-size: 12px;
			color: #8c8c8c;
			.deadline{
				color: #6699cc;
			}
			.item{
				margin-right: 20px;
			}
		}
	}
	.ab-fltb{
		border-bottom: 1px #dedede solid;
		.hd{
			background-color: #EAE9E8;
			margin-left: -1px;
			margin-right: -1px;
			margin-top: -1px;
			padding-left: 1px;
			padding-right: 1px;
			padding-top: 12px;
			border-bottom: 1px #dedede solid;
			color: #fff;
			line-height: 30px;
			position: relative;
			.tit{
				font-size: 14px;
				padding-left: 18px;
				background-color: #6699cc;
				padding-right: 2em;
				width: 200px;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					width:0;
					height:0;
					border-width: 15px 20px;
					border-style:solid;
					border-color:#EAE9E8 #EAE9E8 #6699cc #6699cc;
				}
			}
			.sch{
				position: absolute;
				// width: 230px;
				top: 5px;
				right: 0;
			}
		}
		.bd{
			padding: 8px 25px;
		}
		.table{
			color: #2a2a2a;
			font-size: 14px;
			.item{
				display: inline-block;
				padding: 1px 6px;
				margin: 6px 5px;
				cursor: pointer;
				text-decoration: none;
				&.active{
					color: #11558e;
					font-weight: bold;
				}
				&:hover{
					color: #fff;
					background-color: #2abcb9;
				}
			}
		}
	}
	.ab-artc{
		.operc-wrap{
			height: 40px;
			padding-top: 10px;
			.operc{
				border-bottom: 1px #dedede solid;
				height: 30px;
				text-align: center;
				position: relative;
				&.fixed{
					position: fixed;
					top: 60px;
					left: 251px;
					right: 20px;
					border: 1px #dedede solid;
					z-index: 1;
					background-color: #fff;
					padding-top: 10px;
					height: 41px;
				}
				&:after{
					content: "";
					display: block;
					clear: both;
				}
				.oper-uni{
					border: 1px #dcdcdc solid;
					overflow: hidden;
					margin-left: 10px;
					// position: absolute;
					float: left;
					.item{
						text-align: center;
						width: 65px;
						height: 28px;
						color: #212121;
						font-size: 12px;
						line-height: 28px;
						float: left;
						cursor: pointer;
						&:hover,&.active{
							background-color: #2abcb9;
							color: #fff;
						}
					}
				}
				.oper-emot{
	                border: 1px #dcdcdc solid;
	                height: 29px;
	                display: inline-block;
	                &:after{
	                    content: "";
	                    display: block;
	                    clear: both;
	                }
	                .item{
	                    float: left;
	                    height: 28px;
	                    line-height: 28px;
	                    padding: 0 20px;
	                    cursor: pointer;
	                    background-color: #fff;
	                    border-right: 1px #fff solid;
	                    border-left: 1px #fff solid;
	                    margin-left: -1px;
	                    color: #2a2a2a;
	                    font-size: 12px;
	                    &:hover,&.active{
	                        border-right: 1px #dcdcdc solid;
	                        border-left: 1px #dcdcdc solid;
	                        border-bottom: 1px #fff solid;
	                        position: relative;
	                        height: 29px;
	                    }
	                    &:last-child{
	                        border-right: 0;
	                    }
	                    &:first-child{
	                        border-left: 1px #dcdcdc solid;
	                    }
	                }
				}
				.oper-selc{
					float: right;
					margin-top: -4px;
					margin-right: 10px;
					// position: absolute;
					// top: 5px;
					// right: 10px;
					.item{
						float: left;
						margin-left: 5px;
						&.warn{
							font-size: 12px;
							height: 29px;
							border: 1px #dedede solid;
							padding: 0 5px;
							line-height: 26px;
							cursor: pointer;
							&:hover{
								background-color: #2abcb9;
								color: #fff;
							}
							&:active{
								background-color: darken(#2abcb9, 5%);
							}
						}
					}
					.oper-sele{
						font-size: 12px;
						cursor: pointer;
						text-align: left;
						position: relative;
						.oper-sele-holder{
							display: block;
							border: 1px #dedede solid;
							padding: 0 5px;
							line-height: 26px;
							.iconfont{
								display: inline-block;
							}
						}
						.oper-sele-items{
							display: none;
							background-color: #fff;
							border: 1px #dedede solid;
							position: absolute;
							left: 0;
							top: calc(100% - 1px);
							min-width: 100%;
							z-index: 10;
							white-space: nowrap;
							max-width: 120px;
							li{
								padding: 0 5px;
								line-height: 20px;
								white-space:nowrap;
								text-overflow:ellipsis;
								overflow: hidden;
								&:hover{
									background-color: #f5f4f4;
								}
							}
						}
						&.opened{
							.oper-sele-holder{
								.iconfont{
									@include transform(rotate(180deg))
								}
							}
							.oper-sele-items{
								display: block;
							}
						}
					}
					.pagin{
						border: 1px #dedede solid;
						display: inline-block;
						vertical-align: middle;
						height: 29px;
						font-size: 12px;
						margin-left: 5px;
						.prev,.next{
							display: inline-block;
							vertical-align: middle;
							color: #8c8c8c;
							cursor: pointer;
							&:hover{
								color: #f00;
							}
							&.disable{
								color: #dedede;
								cursor: not-allowed;
							}
						}
						.prev{
							&:after{
								content: '〈'
							}
						}
						.next{
							&:after{
								content: '〉'
							}
						}
						.page{
							display: inline-block;
							vertical-align: middle;
							line-height: 28px;
							padding: 0 5px;
							.cur{
								color: #f00;
							}
						}
					}
				}
			}
		}
		
		.art-list{
			padding-right: 10px;
			padding-bottom: 10px;
			&:after{
				content: "";
				display: block;
				clear: both;
			}
			.art-column{
				float: left;
				width: 50%;
			}
			.art-item{
				border: 1px #dedede solid;
				margin-left: 10px;
				margin-top: 10px;
				position: relative;
				@include transition(box-shadow,.1s);
				&:hover{
					box-shadow: 0 0 10px #ccc;
					.opers{
						display: block;
					}
				}
				.opers{
					position: absolute;
					top: 0;
					right: 0;
					display: none;
					.emots{
						float: left;
						.item{
							border: 1px #dedede solid;
							border-top: 0;
							text-align: center;
							cursor: pointer;
							float: left;
							width: 32px;
							height: 20px;
							margin-left: -1px;
							color: #dedede;
							font-size: 12px;
							line-height: 20px;
							&:hover,&.active{
								color: #fff;
								background-color: #2abcb9;
							}
						}
					}
					.ign{
						height: 20px;
						background-color: #dedede;
						color: #fff;
						float: left;
						margin-left: 10px;
						cursor: pointer;
						font-size: 12px;
						line-height: 20px;
						text-align: center;
						width: 50px;
						&:hover{
							background-color: red;
						}
					}
				}
				.top{
					overflow: hidden;
					padding: 10px 0 5px;
					.t-l{
						width: 25px;
						text-align: center;
						float: left;
					}
					.link{
						font-size: 14px;
						color: #004986;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
						&:visited{
							color: #545454;
						}
					}
					.desc{
						font-size: 12px;
						color: #707070;
						line-height: 1.7;
						min-height: 45px;
						margin-top: 5px;
					}
					em.search{
						color: #ff5555;
					}
					em.tag{
						background-color: #d6e8ff;
						display: inline-block;
						line-height: 16px;
					}
				}
				.tags{
					padding-left: 25px;
					span{
						display: inline-block;
						height: 22px;
						line-height: 22px;
						color: #fff;
						font-size: 12px;
						padding: 0 5px;
						margin-right: 10px;
						margin-bottom: 10px;
						overflow: hidden;
					}
					.tag-ev{
						background-color: #7cdbf2;
						max-width: 10em;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.tag-rp{
						background-color: #ac97eb;
						max-width: 20em;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.tag-warn{
						background-color: #eb5353;
					}
				}
				.ft{
					border-top: 1px #dedede solid;
					padding: 2px 25px;
					font-size: 12px;
					line-height: 1.7;
					color: #6c6c6c;
					.autotag{
						color: #00a0e9;
					}
				}
			}
			.list-holder{
				color: #8c8c8c;
				font-size: 14px;
				text-align: center;
				margin-top: 100px;
			}
		}
	}
	.art-total-count{
		// border: 1px #dcdcdc solid;
		// background-color: #fafafa;
		// display: inline-block;
		// height: 28px;
		// min-width: 28px;
		// padding: 0 5px;
		// text-align: center;
		// line-height: 27px;
		// vertical-align: middle;
		// border-radius: 5px;
		// font-size: 12px;
		// color: #2c2c2c;
		// margin-left: 5px;
		// margin-right: 5px;
		font-size: 12px;
		line-height: 28px;
		color: #aaa;
		font-style: italic;
		margin-left: 20px;
	}
	.c-loader{
		position: fixed;
		left: 231px;
		top: 60px;
	}
}