@import '../mixins/flex';
.advices-manager-tag{
	.content{
		padding: 10px;
	}
	.c-nav{
		overflow: hidden;
		padding-top: 35px;
		.item{
			float: left;
			padding: 0 20px;
			margin: 0 10px;
			color: #2a2a2a;
			font-size: 16px;
			border-bottom: 4px transparent solid;
			line-height: 30px;
			cursor: pointer;
			&.active, &:hover{
				color: #005982;
				border-bottom: 4px #79a1c2 solid;
			}
		}
	}
	.c-tool{
		background-color: #fafafa;
		border-top: 1px #cacaca solid;
		border-bottom: 1px #cacaca solid;
		padding: 14px 10px;
		overflow: hidden;
		height: 61px;
	}

	.at-tag{
		display: inline-block;
		padding: 0 5px;
		margin: 5px 0;
		color: #1fbba6;
		border-right: 1px #ddd solid;
		&:last-child{
			border-right: none;
		}
	}
	.edit-box{
		background-color: #fff;
		position: absolute;
		height: calc(100% - 140px);
		left: 0;
		right: 0;
		top: 130px;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		border-left: 1px #cacaca solid;
		border-right: 1px #cacaca solid;
		border-bottom: 1px #cacaca solid;
		min-height: 400px;
		@include flexbox();
		@include directionVertical();
		.error-bar{
			border-bottom: 1px #cacaca solid;
			background-color: #bfdfff;
			font-size: 14px;
			line-height: 32px;
			color: #f85050;
			text-align: center;
		}
		.eb-t{
			border-bottom: 1px #cacaca solid;
			@include flexbox();
			.eb-t-cell{
				padding: 28px 60px;
				@include flex();
				border-right: 1px #cacaca solid;
				&:last-child{
					border-right: none;
				}
				.ip-g{
					border: 1px #dedede solid;
					border-radius: 2px;
					display: table;
					overflow: hidden;
					line-height: 1;
					margin-top: 3px;
					input{
						border: none;
						outline: none;
						display: block;
						height: 30px;
						padding: 6px 12px;
						line-height: 1.4;
						width: 100%;
						font-size: 14px;
						&:disabled{
							background-color: #eee;
						}
					}
					.ip-g-b{
						display: table-cell;
						padding: 6px 12px;
						color: #dedede;
						line-height: 1;
						width: 1%;
					}
					&.error{
						border-color: red;
						box-shadow: 0 0 3px #ff0000;
						// &:after{
						// 	content: '不能为空';
						// 	position: absolute;
						// 	color: red;
						// 	line-height: 1.9;
						// 	font-size: 12px;
						// }
					}
				}
				&.disabled{
					position: relative;
					&:after{
						content: "";
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						background-color: rgba(248,248,248,.5);
					}
				}
			}
		}
		.eb-t-lab{
			color: #3a678d;
			font-size: 14px;
			height: 24px;
			line-height: 24px;
		}
		.eb-t-oper{
			height: 36px;
			line-height: 36px;
		}
		.eb-t-gbtn{
			@include flexbox();
			height: 26px;
			border: 1px #dedede solid;
			line-height: 26px;
			-webkit-user-select: none;
			overflow: hidden;
			font-size: 14px;
			border-radius: 2px;
			&.eb-t-gbtn-r{
				border-radius: 13px;
			}
			.eb-t-gbtn-cell{
				@include flex();
				min-width: 60px;
				text-align: center;
				border-right: 1px #dedede solid;
				&:last-child{
					border-right: none;
				}
				cursor: pointer;
				background-color: #fff;
				color: #8c8c8c;
				&.active{
					background-color: #2abcb9;
					color: #fff;
				}
			}
		}
		.eb-text{
			color: #3a678d;
			font-size: 14px;
			border-bottom: 1px #dedede solid;
			line-height: 30px;
			padding-left: 20px;
		}
		.eb-bt{
			padding: 6px;
			@include flex();
			overflow: auto;
			border-bottom: 1px #dadada solid;
			.eb-tag{
				display: inline-block;
				border: 1px #7b9cb9 solid;
				border-radius: 5px;
				line-height: 24px;
				color: #7b9cb9;
				padding: 0 10px;
				margin: 3px;
				font-size: 14px;
				cursor: default;
				&.active{
					background-color: #7b9cb9;
					color: #fff;
				}
			}
			&.disabled{
				position: relative;
				overflow: hidden;
				&:after{
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background-color: rgba(248,248,248,.5);
				}
			}
		}
		.eb-btn{
			width: 70px;
			height: 30px;
			background-color: #2abcb9;
			border: 1px #dedede solid;
			border-radius: 5px;
			display: inline-block;
			vertical-align: middle;
			color: #fff;
			margin: 0 19px;
			line-height: 30px;
			cursor: pointer;
			&:active{
				background-color: darken(#2abcb9, 5%);
			}
		}
	}
	.c-modal{
		span{
			font-size: inherit !important;
		}
	}
}