/**
 * create by lxt
 * 2016/07/18
 * panel/tab组件v2样式
 */
@import '../mixins/flex';
@import '../var';
.panel{
	.panel-footer {
		height: 70px;
		line-height: 49px;
	}
	&.panel-default{
		.panel-heading{
			@include flexbox();
			@include alignCenter();
			.panel-title{
				@include flex();
			}
		}
		
		.tab {
			height: 52px;
			line-height: 50px;
			color: #999;
			background-color: #fafafa;
			border-bottom: 1px solid #dedede;
			ul {
				margin-bottom: 0;
				li {
					float: left;
					display: inline-block;
					width: 130px;
					height: 100%;
					text-align: center;
					border-right: 1px solid #dedede;
					cursor: pointer;
					border-top: 2px solid rgba(255, 255, 255, 0);
					&:nth-child(1){
						border-left: 0;
					}
					&:nth-child(2){
						border-left: 0;
					}
					&:nth-child(3){
						border-left: 0;
					}
					&:hover{
						background-color: $gray-lighter;
						height: 51px;
					}
					&.active {
						color: #444;
						background-color: #fff;
						border-top: 2px solid #3a99db;
						border-bottom: 1px solid #fff;
						height: 52px;
					}
				}
			}
		}
	}
}
.c-tab {
	height: 52px;
	line-height: 50px;
	color: #999;
	background-color: #fafafa;
	border-bottom: 1px solid #dedede;
	ul {
		margin-bottom: 0;
		li {
			float: left;
			display: inline-block;
			width: 130px;
			height: 100%;
			text-align: center;
			border-right: 1px solid #dedede;
			cursor: pointer;
			border-top: 2px solid rgba(255, 255, 255, 0);
			&:nth-child(1){
				border-left: 0;
			}
			&:nth-child(2){
				border-left: 0;
			}
			&:nth-child(3){
				border-left: 0;
			}
			&:hover{
				background-color: $gray-lighter;
				height: 51px;
			}
			&.active {
				color: #444;
				background-color: #fff;
				border-top: 2px solid #3a99db;
				border-bottom: 1px solid #fff;
				height: 52px;
			}
		}
	}
}