extends ../../settings/const_strings.pug

block variables
  - var welcome = "欢迎进入管理系统"
  - var menu_data = {syn: [{"url":"admin_syn_list.html","name":syn_management,rule:"rule_sys_manager_syndicate",active:""}],per: [{"url":"admin_admin_list.html","name":admin_management,rule:"rule_sys_manager_adminer",active:""},{"url":"admin_spr_mgr_list.html","name":spr_mgr_management,rule:"rule_sys_manager_super",active:""},{"url":"admin_online_users_list.html","name":users_online_list,rule:"rule_sys_list_login",active:""},{"url":"admin_new_add_list.html","name":new_add_list,rule:"rule_sys_list_newly_added",active:""}],article: [{"url":"admin_article_list.html","name":article_list,rule:"rule_sys_manager_article",active:""}],media:[{"url":"admin_media_manage.html","name":media_management,rule:"rule_sys_media_audit",active:""}]}