// Content Header (Page header)
section.content-header
    h1
      | #{con_header_title}
      small #{con_header_subtitle}
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  首页
      li.active 媒体管理