extends ../../common_partials/require_other_js.pug
include ../../mixins/utils.pug
block other_js
  script(src='../js/pages/admin_article_list.js')
  script(src='../js/pages/date_range_picker.js')
  script(src='../js/mustache.js')
  script(src='../js/libs/bootstrap/moment.min.js')
  script(src='../js/libs/bootstrap/daterangepicker.js')