doctype html
html
  block settings
  block variables
  head
    block title
    block meta_info
    block css_link
    block js_include
    block mixins
  body.hold-transition.skin-blue.sidebar-mini.fixed
    block content